.parent{
    width: 900px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
p {
    text-indent: 20px;
}
.border{
    border: 5px solid #00af64;
}
.title {
    font-size: 50px;
    color: #000;
    padding-left: 10px;
}
.title span {
    display: inline;
    padding: 0 10px 0 0;
    color: darkgreen;
    line-height: 14px;
    font-size: 45px;
    background-image:url("https://s1.1zoom.me/big3/972/Sky_Clouds_Rays_of_light_470197.jpg")
}
